@font-face {
    font-family: "Rubik";
    src: url(fonts/Rubik/Rubik-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Rubik";
    src: url(fonts/Rubik/Rubik-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Rubik";
    src: url(fonts/Rubik/Rubik-Light.ttf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 200;
}
body {margin: 0; background-color: #f0f0f0;}
header {background: #F0F0F0; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); display: flex; align-items: center; height: 60px; justify-content: center;}
nav > a {display: inline-block; font-family: "Rubik"; font-weight: 500; font-size: 15px; color: black; text-decoration: none; border-right: 1px solid #746b6b; padding-right: 30px; padding-left: 20px; transition: color 0.3s linear;}
nav > a:last-child{border-right: none; padding-right: none;}
.logo {font-family: "Montserrat"; color: #E6373E; font-size: 40px; font-weight: 800; margin-right: 22.5px; cursor: pointer;}
.bcall {border-radius: 6px; width: 145px; height: 30px; box-shadow: 1px 1px 1px 0 #bbbfc6; background: #dfe2e7; font-family: "Rubik";  font-weight: 500; color: #8C96AF; display: flex; align-items: center; margin-left: 20px; cursor: pointer;}
nav>a:hover {color:#E6373E}
.bcall > img {padding: 5px;}
.num, address {font-family: "Rubik"; font-weight: 400; font-style: normal; font-size: 15px;}
address {font-size: 11px;}
.sec-block {display: flex; justify-content: center; flex-direction: column; overflow: hidden;}
.twc {display: flex; width: 1200px; height: 500px; margin-left: 225px;}
.text1 {font-family: "Montserrat"; font-size: 55px; font-weight: 800; margin-top: 144px;}
.text2 {font-family: "Montserrat"; font-size: 30px; font-weight: 500; margin-bottom: 61px;}
.btn1, .btn2 {font-family: "Montserrat"; font-size: 18px; font-weight: 500; padding: 15px; display: inline-block; cursor: pointer;}
.btn1 {color: #FFFFFF; border-radius: 8px; box-shadow: 2px 2px 5px 0 rgba(238, 59, 62, 0.75); background: #e63c3c;}
.btn2 {color: #EE3B3E; border: 2px solid #e63c3c; border-radius: 8px; box-shadow: 1px 1px 5px 0 #ee3b3e; padding-left: 40px; padding-right: 40px; margin-left: 25px;}
.car1 {width: 400px; height: 400px; margin-left: 25px; position: relative;}
.icar {width: 774px;}
.ztext {font-family: "Rubik";  font-weight: 200; font-size: 16px; padding-left: 18px;}
.zny {display: flex; background-color: rgba(255, 255, 255, 0.8); border-radius: 40px; padding: 10px; width: 274px; height: 66px; align-items: center; position: absolute; top: 130px; left: 250px; box-shadow: 1px 1px 5px 0 #000000;}
.iy {height: 75px; width: 80px; margin-left: -5px;}
.fblock {font-family: "Montserrat"; font-size: 13px; font-weight: 200; display: flex; align-items: center;}
.block1, .block2, .block3, .block4 {border-radius: 13px; width: 210px; height: 85px; background: #fff; display: flex; margin-left: 130px; padding-left: 10px;}
.ikeys {top: -45px; left: 100px; position: absolute; width:150px;}
.fblock > div {position: relative;}
.block1 > span, .block2 > span, .block3 > span, .block4 > span {padding-top: 16px;}
.icars {top: -10px; left: 120px; position: absolute; width: 125px;}
.block2 {overflow: hidden;}
.imoney {top: -70px; left: 90px; position: absolute; width: 170px;}
.iman {top: -25px; left: 100px; position: absolute; width: 120px;}
.ctgs {font-family: "Montserrat"; font-size: 80px; font-weight: 800; color: #F0F0F0; display: flex; align-items: center; border: 3px solid #d7d7d7; border-radius: 12px; width: 1150px; height: 140px; margin-left: 225px; margin-top: 100px;}
.ctg1 > img {width: 98px;}
.ctg2 > img {width: 116px;}
.ctg3 > img {height: 69px;}
.ctg4 > img {width: 123px;}
.ctg5 > img {height: 84px;}
.ctg1, .ctg2, .ctg3, .ctg4, .ctg5 {display: flex; border-radius: 9px; width: 200px; height: 100px; box-shadow: 2px 2px 2px 0 rgba(215, 215, 215, 0.95); background: #d7d7d7; margin-left: 25px; padding-left: 15px;}
.ctg2 {overflow: hidden;}